{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ title }}</h1>
    <p>by <strong><a href="/u/{{ artist }}">{{ artist }}</a></strong></p>

    <img src="/uploads/{{ file }}" style="max-width:100%">

    <p>{{ date }}</p>

{% endblock %}